USE [master]
GO
/****** Object:  Database [CommunalServicesBD]    Script Date: 30.03.2026 17:18:40 ******/
CREATE DATABASE [CommunalServicesBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommunalServicesBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CommunalServicesBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CommunalServicesBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CommunalServicesBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommunalServicesBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommunalServicesBD]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[PriorityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Priorities] PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTypeId] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](255) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Datetime] [datetime] NOT NULL,
	[StatusId] [int] NOT NULL,
	[WorkerId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[IsActual] [bit] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Note] [nvarchar](255) NULL,
	[Datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ServiceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ServiceTypes] PRIMARY KEY CLUSTERED 
(
	[ServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FailedAttempts] [int] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 30.03.2026 17:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[WorkerId] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [Surname], [Name], [Patronymic], [Phone], [Address]) VALUES (1, N'Иванов', N'Александр', N'Петрович', N'+7 (950) 111-22-33', N'г. Починки, ул. Ленина, д. 1, кв. 5')
INSERT [dbo].[Clients] ([ClientId], [Surname], [Name], [Patronymic], [Phone], [Address]) VALUES (2, N'Петрова', N'Екатерина', N'Сергеевна', N'+7 (950) 222-33-44', N'г. Починки, ул. Советская, д. 10, кв. 23')
INSERT [dbo].[Clients] ([ClientId], [Surname], [Name], [Patronymic], [Phone], [Address]) VALUES (3, N'Сидоров', N'Дмитрий', N'Олегович', N'+7 (914) 567-89-01', N'с. Починки, ул. Заречная, д. 11')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostId], [Name], [Salary]) VALUES (1, N'Диспетчер', CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[Posts] ([PostId], [Name], [Salary]) VALUES (2, N'Мастер ЖКХ', CAST(42000.00 AS Decimal(10, 2)))
INSERT [dbo].[Posts] ([PostId], [Name], [Salary]) VALUES (3, N'Сантехник', CAST(38000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([PriorityId], [Name]) VALUES (1, N'Низкий')
INSERT [dbo].[Priorities] ([PriorityId], [Name]) VALUES (2, N'Средний')
INSERT [dbo].[Priorities] ([PriorityId], [Name]) VALUES (3, N'Высокий')
SET IDENTITY_INSERT [dbo].[Priorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportId], [ServiceTypeId], [Title], [Note], [ClientId], [Datetime], [StatusId], [WorkerId], [PriorityId], [IsActual]) VALUES (0, 1, N'Течь крана на кухне', N'Капает вода из-под крана, требуется замена прокладки', 1, CAST(N'2026-02-13T16:50:09.383' AS DateTime), 3, 7, 2, 1)
INSERT [dbo].[Reports] ([ReportId], [ServiceTypeId], [Title], [Note], [ClientId], [Datetime], [StatusId], [WorkerId], [PriorityId], [IsActual]) VALUES (1, 1, N'Забилась канализация', N'Стояк засорился, вода не уходит, запах из раковины', 3, CAST(N'2026-02-28T16:50:09.383' AS DateTime), 3, 7, 3, 1)
INSERT [dbo].[Reports] ([ReportId], [ServiceTypeId], [Title], [Note], [ClientId], [Datetime], [StatusId], [WorkerId], [PriorityId], [IsActual]) VALUES (2, 1, N'Нет холодной воды', N'Уже 3 дня нет холодной воды во всей квартире', 5, CAST(N'2026-03-15T16:50:09.383' AS DateTime), 2, 8, 3, 1)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewId], [ClientId], [Rating], [Note], [Datetime]) VALUES (1, 1, 5, N'Отлично сработали! Сантехник приехал быстро, проблему решил качественно. Рекомендую!', CAST(N'2026-02-13T17:14:41.593' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewId], [ClientId], [Rating], [Note], [Datetime]) VALUES (2, 2, 4, N'Хорошо, но пришлось ждать диспетчера 20 минут на линии. Работой сотрудника довольна.', CAST(N'2026-02-16T17:14:41.593' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewId], [ClientId], [Rating], [Note], [Datetime]) VALUES (3, 3, 5, N'Спасибо за оперативность! Прорыв трубы устранили за час, хотя была суббота. Очень выручили.', CAST(N'2026-02-20T17:14:41.593' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (2, N'Диспетчер')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (3, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([ServiceTypeId], [Name]) VALUES (1, N'Сантехника')
INSERT [dbo].[ServiceTypes] ([ServiceTypeId], [Name]) VALUES (2, N'Электрика')
INSERT [dbo].[ServiceTypes] ([ServiceTypeId], [Name]) VALUES (3, N'Отопление')
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusId], [Name]) VALUES (1, N'В ожидании')
INSERT [dbo].[Statuses] ([StatusId], [Name]) VALUES (2, N'В работе')
INSERT [dbo].[Statuses] ([StatusId], [Name]) VALUES (3, N'Выполнена')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [RoleId], [Login], [Password], [FailedAttempts], [IsBlocked]) VALUES (1, 1, N'admin', N'admin123', 0, 0)
INSERT [dbo].[Users] ([UserId], [RoleId], [Login], [Password], [FailedAttempts], [IsBlocked]) VALUES (2, 1, N'director', N'dir2024', 0, 0)
INSERT [dbo].[Users] ([UserId], [RoleId], [Login], [Password], [FailedAttempts], [IsBlocked]) VALUES (3, 2, N'dispatcher1', N'disp123', 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([WorkerId], [Surname], [Name], [Patronymic], [Birthday], [Phone], [PostId], [UserId]) VALUES (1, N'Петров', N'Иван', N'Сергеевич', CAST(N'1985-03-15' AS Date), N'+7 (916) 123-45-67', 2, 5)
INSERT [dbo].[Workers] ([WorkerId], [Surname], [Name], [Patronymic], [Birthday], [Phone], [PostId], [UserId]) VALUES (2, N'Смирнова', N'Елена', N'Алексеевна', CAST(N'1990-07-22' AS Date), N'+7 (916) 234-56-78', 1, 3)
INSERT [dbo].[Workers] ([WorkerId], [Surname], [Name], [Patronymic], [Birthday], [Phone], [PostId], [UserId]) VALUES (3, N'Кузнецов', N'Андрей', N'Владимирович', CAST(N'1988-11-10' AS Date), N'+7 (916) 345-67-89', 3, 7)
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Clients]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Priorities] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Priorities] ([PriorityId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Priorities]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_ServiceTypes] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceTypes] ([ServiceTypeId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_ServiceTypes]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([StatusId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Statuses]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Workers] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Workers] ([WorkerId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Workers]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Clients]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Posts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Posts]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [RatingCK] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [RatingCK]
GO
USE [master]
GO
